.multi-range {
  cursor: pointer;
}

.multi-range__background {
  fill: none;
}

.multi-range__circle {
  fill: rgb(231, 231, 231);
  stroke-width: 0;
}

.multi-range__polygon {
  fill: rgb(212, 212, 212);
  stroke: none;
}

.multi-range__handler {
  fill: black;
  stroke-width: 0;
}

.custom-style .polygon {
  fill: none;
  stroke: pink;
  stroke-width: 20;
}
