.multi-range {
  /* border: 2px solid; */
  display: block;
}

/* .multi-range.clip {
  clip-path: var(--multi-range-clip-path);
} */

.multi-range__circle {
  fill: whitesmoke;
  stroke-width: 0;
}

.multi-range__polygon {
  fill: white;
  stroke: none;
}

.multi-range__handler {
  cursor: pointer;
  fill: black;
  stroke-width: 0;
}
